<div class="page">
  <div class="toolbar" role="banner">

    <img #logo
      width="170"
      alt="Logo"
      src="assets/images/logo.png"
    />    
      <div class="spacer"></div>
      <a class="circle-link" title="Facebook" href="https://www.facebook.com/" target="_blank" rel="noopener">
        <img #logo width="25" alt="Facebook" src="assets/images/logo-facebook.png" />
      </a>
      <a class="circle-link" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
        <img #logo width="25" alt="Instagram" src="assets/images/logo-instagram.png" />
      </a>
      <a class="circle-link" title="LinkedIn" href="https://www.linkedin.com/" target="_blank" rel="noopener">
        <img #logo width="25" alt="LinkedIn" src="assets/images/logo-linkedin.png" />
      </a>
      
  </div>

  <div class="container">
    <h1><b>No momento,<br> estamos construindo<br> uma nova plataforma<br> Educacional</b></h1>
    <!-- <button class="buttonSendMessage">Envie uma mensagem</button> -->
    <img class="under-construction" width="420" src="assets/images/under-construction.svg" />
    
  </div>

</div>
<router-outlet></router-outlet>
